<a href="https://colab.research.google.com/github/Kross363/Python-Data-Science/blob/main/Python_Datos_Por_Tienda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [16]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [17]:
ingreso_total=tienda['Precio'].sum()
print(f"El ingreso total de la Tienda N°1 es de: ${ingreso_total}")

El ingreso total de la Tienda N°1 es de: $1150880400.0

In [18]:
ingreso_total=tienda2['Precio'].sum()
print(f"El ingreso total de la Tienda N°2 es de: ${ingreso_total}")

El ingreso total de la Tienda N°2 es de: $1116343500.0

In [19]:
ingreso_total=tienda3['Precio'].sum()
print(f"El ingreso total de la Tienda N°3 es de: ${ingreso_total}")

El ingreso total de la Tienda N°3 es de: $1098019600.0

In [20]:
ingreso_total=tienda4['Precio'].sum()
print(f"El ingreso total de la Tienda N°4 es de: ${ingreso_total}")

El ingreso total de la Tienda N°4 es de: $1038375700.0

# 2. Ventas por categoría

In [28]:
conteo_por_categoria = tienda.groupby('Categoría del Producto').size().sort_values(ascending=False)

print("--- Conteo de Productos Vendidos por Categoría (Tienda 1) ---")
print(conteo_por_categoria)

--- Conteo de Productos Vendidos por Categoría (Tienda 1) ---
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
dtype: int64

In [29]:
conteo_por_categoria = tienda2.groupby('Categoría del Producto').size().sort_values(ascending=False)

print("--- Conteo de Productos Vendidos por Categoría (Tienda 2) ---")
print(conteo_por_categoria)

--- Conteo de Productos Vendidos por Categoría (Tienda 2) ---
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
dtype: int64

In [30]:
conteo_por_categoria = tienda3.groupby('Categoría del Producto').size().sort_values(ascending=False)

print("--- Conteo de Productos Vendidos por Categoría (Tienda 3) ---")
print(conteo_por_categoria)

--- Conteo de Productos Vendidos por Categoría (Tienda 3) ---
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Artículos para el hogar    177
Instrumentos musicales     177
dtype: int64

In [31]:
conteo_por_categoria = tienda4.groupby('Categoría del Producto').size().sort_values(ascending=False)

print("--- Conteo de Productos Vendidos por Categoría (Tienda 4) ---")
print(conteo_por_categoria)

--- Conteo de Productos Vendidos por Categoría (Tienda 4) ---
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
dtype: int64

# 3. Calificación promedio de la tienda

In [33]:
promedio=tienda["Calificación"].mean()
print(f"La valoracion media de la Tienda N°1 es {round(promedio,2)}")

La valoracion media de la Tienda N°1 es 3.98

In [34]:
promedio=tienda2["Calificación"].mean()
print(f"La valoracion media de la Tienda N°2 es {round(promedio,2)}")

La valoracion media de la Tienda N°2 es 4.04

In [35]:
promedio=tienda3["Calificación"].mean()
print(f"La valoracion media de la Tienda N°3 es {round(promedio,2)}")

La valoracion media de la Tienda N°3 es 4.05

In [36]:
promedio=tienda4["Calificación"].mean()
print(f"La valoracion media de la Tienda N°4 es {round(promedio,2)}")

La valoracion media de la Tienda N°4 es 4.0

# 4. Productos más y menos vendidos

In [40]:
conteo_por_producto = tienda.groupby('Categoría del Producto').size()

# Identificar el Producto Más Vendido
producto_mas_vendido = conteo_por_producto.idxmax() # Obtiene el índice (nombre del producto) con el valor máximo
ventas_max = conteo_por_producto.max()             # Obtiene el valor máximo de ventas

# Identificar el Producto Menos Vendido
producto_menos_vendido = conteo_por_producto.idxmin() # Obtiene el índice (nombre del producto) con el valor mínimo
ventas_min = conteo_por_producto.min()             # Obtiene el valor mínimo de ventas

# Mostrar los resultados
print("---  Producto Más Vendido (Tienda 1) ---")
print(f"Producto: **{producto_mas_vendido}**")
print(f"Total de Ventas: **{ventas_max}**")

print("\n---  Producto Menos Vendido (Tienda 1) ---")
print(f"Producto: **{producto_menos_vendido}**")
print(f"Total de Ventas: **{ventas_min}**")

---  Producto Más Vendido (Tienda 1) ---
Producto: **Muebles**
Total de Ventas: **465**

---  Producto Menos Vendido (Tienda 1) ---
Producto: **Artículos para el hogar**
Total de Ventas: **171**

In [41]:
conteo_por_producto = tienda2.groupby('Categoría del Producto').size()

# Identificar el Producto Más Vendido
producto_mas_vendido = conteo_por_producto.idxmax() # Obtiene el índice (nombre del producto) con el valor máximo
ventas_max = conteo_por_producto.max()             # Obtiene el valor máximo de ventas

# Identificar el Producto Menos Vendido
producto_menos_vendido = conteo_por_producto.idxmin() # Obtiene el índice (nombre del producto) con el valor mínimo
ventas_min = conteo_por_producto.min()             # Obtiene el valor mínimo de ventas

# Mostrar los resultados
print("---  Producto Más Vendido (Tienda 2) ---")
print(f"Producto: **{producto_mas_vendido}**")
print(f"Total de Ventas: **{ventas_max}**")

print("\n---  Producto Menos Vendido (Tienda 2) ---")
print(f"Producto: **{producto_menos_vendido}**")
print(f"Total de Ventas: **{ventas_min}**")

---  Producto Más Vendido (Tienda 2) ---
Producto: **Muebles**
Total de Ventas: **442**

---  Producto Menos Vendido (Tienda 2) ---
Producto: **Artículos para el hogar**
Total de Ventas: **181**

In [42]:
conteo_por_producto = tienda3.groupby('Categoría del Producto').size()

# Identificar el Producto Más Vendido
producto_mas_vendido = conteo_por_producto.idxmax() # Obtiene el índice (nombre del producto) con el valor máximo
ventas_max = conteo_por_producto.max()             # Obtiene el valor máximo de ventas

# Identificar el Producto Menos Vendido
producto_menos_vendido = conteo_por_producto.idxmin() # Obtiene el índice (nombre del producto) con el valor mínimo
ventas_min = conteo_por_producto.min()             # Obtiene el valor mínimo de ventas

# Mostrar los resultados
print("---  Producto Más Vendido (Tienda 3) ---")
print(f"Producto: **{producto_mas_vendido}**")
print(f"Total de Ventas: **{ventas_max}**")

print("\n---  Producto Menos Vendido (Tienda 3) ---")
print(f"Producto: **{producto_menos_vendido}**")
print(f"Total de Ventas: **{ventas_min}**")

---  Producto Más Vendido (Tienda 3) ---
Producto: **Muebles**
Total de Ventas: **499**

---  Producto Menos Vendido (Tienda 3) ---
Producto: **Artículos para el hogar**
Total de Ventas: **177**

In [43]:
conteo_por_producto = tienda4.groupby('Categoría del Producto').size()

# Identificar el Producto Más Vendido
producto_mas_vendido = conteo_por_producto.idxmax() # Obtiene el índice (nombre del producto) con el valor máximo
ventas_max = conteo_por_producto.max()             # Obtiene el valor máximo de ventas

# Identificar el Producto Menos Vendido
producto_menos_vendido = conteo_por_producto.idxmin() # Obtiene el índice (nombre del producto) con el valor mínimo
ventas_min = conteo_por_producto.min()             # Obtiene el valor mínimo de ventas

# Mostrar los resultados
print("---  Producto Más Vendido (Tienda 4) ---")
print(f"Producto: **{producto_mas_vendido}**")
print(f"Total de Ventas: **{ventas_max}**")

print("\n---  Producto Menos Vendido (Tienda 4) ---")
print(f"Producto: **{producto_menos_vendido}**")
print(f"Total de Ventas: **{ventas_min}**")

---  Producto Más Vendido (Tienda 4) ---
Producto: **Muebles**
Total de Ventas: **480**

---  Producto Menos Vendido (Tienda 4) ---
Producto: **Instrumentos musicales**
Total de Ventas: **170**

# 5. Envío promedio por tienda

In [45]:
total_envio=tienda["Costo de envío"].mean()
print(f"El envio promedio de la Tienda N°1 es de: ${round(total_envio,2)}")

El envio promedio de la Tienda N°1 es de: $26018.61

In [46]:
total_envio=tienda2["Costo de envío"].mean()
print(f"El envio promedio de la Tienda N°2 es de: ${round(total_envio,2)}")

El envio promedio de la Tienda N°2 es de: $25216.24

In [47]:
total_envio=tienda3["Costo de envío"].mean()
print(f"El envio promedio de la Tienda N°3 es de: ${round(total_envio,2)}")

El envio promedio de la Tienda N°3 es de: $24805.68

In [48]:
total_envio=tienda4["Costo de envío"].mean()
print(f"El envio promedio de la Tienda N°4 es de: ${round(total_envio,2)}")

El envio promedio de la Tienda N°4 es de: $23459.46